@{
    ViewData["Title"] = "Cancel Reservation";
}


<form id="cancel-reservation-form">
    <label for="reservationId">Reservation ID:</label><br>
    <input type="number" id="reservation-id" name="reservationId" required><br>
    <label for="contactInfo">Phone Number or Email:</label><br>
    <input type="text" id="contact-info" name="contactInfo" required><br>
    <button type="button" id="check-btn">Check Reservation</button>
    <button type="button" id="cancel-btn" style="display:none;">Cancel Reservation</button>
    <div id="message"></div>
</form>