@{
    ViewData["Title"] = "Reservation";
}

@model trocitos.mvc.Models.Reservation

<div class="container mt-5">
    <h1>Make a Reservation</h1>
    <form method="post" action="/Reservation/MakeReservation">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="FirstName" required>
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="Surname" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="PhoneNo" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="Email" required>
        </div>
        <div class="form-group">
            <label for="partySize">Party Size</label>
            <input type="number" class="form-control" id="partySize" name="PartySize" required>
        </div>
        <div class="form-group">
            <label for="reservationDate">Date of Reservation</label>
            <input type="date" class="form-control" id="reservationDate" name="ReservationDate" required>
        </div>
        <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="time" class="form-control" id="startTime" name="RsvStart" required>
        </div>
        <div class="form-group">
            <label for="endTime">End Time</label>
            <input type="time" class="form-control" id="endTime" name="RsvEnd" required>
        </div>
        <div class="form-group">
            <label for="location">Preferred Location</label>
            <select class="form-control" id="location" name="Table.Location" required>
                <option value="first floor">First Floor</option>
                <option value="ground floor">Ground Floor</option>
                <option value="outside">Outside</option>
            </select>
        </div>
        <div class="form-group">
            <label for="outside">Sit Outside</label>
            <input type="checkbox" id="outside" name="SitOutside">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>