@{
    ViewData["Title"] = "Reservation";
}

@model trocitos.mvc.Models.Reservation

<div id="reservation-page-container" class="container-fluid">
    <div class="row">
        <div id="reservation-page-content" class="col-lg-4 col-md-8 col-sm-10 mx-auto shadow-lg mb-5"
            style="background-color: #E6B17E">
            <div class="text-center">
                <h1>Reserve a table</h1>

                <p>Need to cancel a reservation? <a asp-area="" asp-controller="Reservation"
                        asp-action="Cancellation">Click here</a>
                </p>

                <img class="trocitos-page-logo img-fluid" src="/images/trocitos-logo.jpg">
            </div>
            <div class="px-3 mb-3 mx-auto">
                <div id="availability-check-form" class="row">

                    <p class="my-5">Fill in the details below to check for availability:</p>

                    @* CHECK RESERVATION AVAILABILITY FORM *@
                    <form id="reservation-form" class="needs-validation" novalidate>
                        <label for="date" class="form-label">Date:</label><br>
                        <div class="input-group">
                            <input type="date" class="form-control" id="date" name="date" required><br>
                            <div class="invalid-feedback">Please enter a date</div>
                        </div>
                        <label for="startTime" class="form-label">Start Time:</label><br>
                        <div class="input-group">
                            <select class="form-control" id="start-time" name="startTime" required></select>
                            <div class="invalid-feedback">Please enter a time</div>
                        </div>

                        <label for="capacity" class="form-label">Number of people:</label><br>
                        <div class="input-group">
                            <input type="number" class="form-control" id="capacity" name="capacity" required><br>
                            <div class="invalid-feedback">Please enter the number of people</div>
                        </div>
                        <div>
                            <label for="location" class="form-label">Location:</label><br>
                            <select id="location" class="form-control" name="location">
                                <option value="outside">outside</option>
                                <option value="ground floor">ground floor</option>
                                <option value="first floor">first floor</option>
                            </select><br><br>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn action-btn" value="Check Availability">
                        </div>
                    </form>
                    <br>
                    @* END OF CHECK RESERVATION AVAILABILITY FORM *@


                </div>

                @* MESSAGE TO SHOW RESERVATION AVAILABILITY / NON-AVAILABILITY *@
                <div id="availability-message"></div>

                @* FORM TO SUBMIT RESERVATION *@
                <div id="booking-form" class="row mb-3" style="display:none;">
                    <h2>Complete Reservation</h2>
                    <form id="submit-reservation-form">
                        <div>
                            <label for="firstName" class="form-label">First Name:</label><br>
                            <input type="text" id="first-name" class="form-control" name="firstName" required><br>
                        </div>
                        <div>
                            <label for="surname" class=form-label>Surname:</label><br>
                            <input type="text" id="surname" class="form-control" name="surname" required><br>
                        </div>
                        <div>
                            <label for="phone-no" class="form-label">Phone Number:</label><br>
                            <input type="text" class="form-control" id="phone-no" name="phoneNo" required><br>
                        </div>
                        <div>
                            <label for="email" class="form-label">Email:</label><br>
                            <input type="email" id="email" class="form-control" name="email" required><br>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn action-btn" value="Book">
                        </div>
                    </form>
                    @* END OF FORM TO SUBMIT RESERVATION *@
                </div>

                @* MESSAGE TO CONFIRM RESERVATION DETAILS *@
                <div id="confirmation-message"></div>
            </div>
        </div>
    </div>
</div>