@page
@model ReservationsModel

<h1>Reservations</h1>

<form>
    <div class="mb-3">
        <label for="size" class="form-label">Size:</label>
        <input type="number" id="size" name="size" class="form-control">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date:</label>
        <input type="date" id="date" name="date" class="form-control">
    </div>
    <div class="mb-3">
        <label for="timepicker" class="form-label">Time:</label>
        <input type="text" id="timepicker" placeholder="Select Time...">
        @* <input type="time" id="time" name="time" class="form-control"> *@
    </div>
    <button type="submit" class="btn btn-primary">Check Availability</button>
</form>


<form id="reservation-form">
    <div class="mb-3">
        <label for="fname" class="form-label">First Name:</label>
        <input type="text" id="fname" name="fname" class="form-control">
    </div>
    <div class="mb-3">
        <label for="lname" class="form-label">Last Name:</label>
        <input type="text" id="lname" name="lname" class="form-control">
    </div>
    <!-- more fields as needed -->
    <button type="submit" class="btn btn-primary">Book Table</button>
</form>